
.chartChallenge {
   background:var(--background-dark); 
   color:var(--white);
   border-radius: 5px;
   margin-top: 5px;
}

.chartChallenge details {
   transition: height 1s ease;
   overflow: hidden;
   cursor: pointer;
}

.chartChallenge details:not( [open] ) {
    height: 1.5rem;
}

.chartChallenge details[open] {
    height: 15rem;
}

@media(max-width:700px) {
   .chartChallenge details[open] {
      height: 17rem;
  }
}

@media(max-width: 420px) {
   .chartChallenge details[open] {
      height: 18rem;
  }
}

.chartChallenge details summary {
   background: var(--background);
   padding: 0.3rem;
   color: var(--title);
}

.chartChallenge header {
   font-weight: 600;
   font-size: 0.8rem;
   
   padding: 5px 0 5px;
   border-bottom: 1px solid var(--text);
   
   display: flex;
   align-items: center;
   justify-content: center;
}
.chartChallenge header svg {
   margin-left: 4px;
   font-size: 1rem;
}

.chartChallenge section   {
   margin: 0 5px;
   gap: 10px;
}
.chartChallenge section div  {
   display: grid;
}

.chartChallenge section div strong {
   font-size: 0.8rem;
   font-weight: normal;
   letter-spacing: 1px;
   margin: 0 0 0.2rem;
}

.chartChallenge section div strong svg{
   color: #bcbcbc;
}

.chartChallenge section div span {
   height: 10px;
   width: 1%;
   margin-bottom: 0.5rem;
}

.totalChallenge span {
   background: rgb(34,195,147);
   background: linear-gradient(80deg, rgb(46, 158, 250) 0%, rgb(171, 58, 246) 100%); 
}
 
.challengesCompleted span {   
   background: rgb(34,195,161);
   background: linear-gradient(80deg, rgba(34,195,161,1) 0%, rgba(57,223,140,1) 100%);
 
}
.challengesFailed span {
   background: rgb(195,34,99);
   background: linear-gradient(80deg, rgba(223,57,57,1) 0%, rgba(195,34,99,1) 100%);
}

.challengesReport {
   border-top: 1px solid var(--text);
   padding: 5px;
   font-size: 0.9rem;
   font-weight: normal;
   text-align: center;
}

.challengesReport svg {
   margin-right: 5px;
   font-size: 1rem;
}

