.challengesContainer {
    margin: 1.5rem 0;     
    border-bottom: 1px solid #d7d8da;
    font-weight: 500;
}

.completedChallengesContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.completedChallengesContainer span:first-child {
    font-size: 1.25rem;
}

.completedChallengesContainer span:last-child {
    font-size: 1.5rem;
    color: #2ecc71;
}


/*
@media(max-width: 420px) {
    .completedChallengesContainer {        
        margin: 1rem 0 0.6rem 0;
        border: 0;
    } 
}*/

