.mainLogo {
    width: 100%;   
    margin-bottom: 0.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 20rem;
    transition: 0.2s;
}

.mainLogo img{
    width: 200px;        
}

@media(max-width: 420px) {

    .mainLogo img{
        width: 120px;        
    }
}


/*alert */
.alertDevelopment {
    display: flex;
    justify-content: flex-end;
}
.alertDevelopment small{
   background:#f08686;
   color: #fff;
   padding: 4px;
   border-radius: 4px;
}